In [1]:
from src.data_manager import DataLoader
import pandas as pd

In [2]:
AMARILLO_PATH = '/home/bal/Dropbox/Solar_Forecasting/texas_amarillo/amarillo_db.csv'
AMARILLO_DIFF_PATH = '/home/bal/Dropbox/Solar_Forecasting/texas_amarillo/amarillo_db_diff.csv'

In [3]:
amarillo = DataLoader(AMARILLO_PATH)

In [4]:
ama_indices = amarillo.read_csv().get_indices()

In [5]:
ama_dataset = amarillo.split_train_test(ama_indices.train_drop, ama_indices.test).get_dataset()

In [6]:
ama_dataset.train

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y38,y39,y40,y41,y42,y43,y44,y45,y46,y47
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366572,0,0,0,0,0,0,0,0,0,0,...,19,5,0,0,0,0,0,0,0,0
366573,0,0,0,0,0,0,0,0,0,0,...,5,0,0,0,0,0,0,0,0,0
366574,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
366575,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
366576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
ama_dataset.test

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y38,y39,y40,y41,y42,y43,y44,y45,y46,y47
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,13,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,129,51,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,142,55,0,0,0,0,0,0,0,0

In [8]:
amarillo_diff = DataLoader(AMARILLO_DIFF_PATH)
ama_diff_dataset = amarillo_diff.read_csv().split_train_test(ama_indices.train_drop, ama_indices.test).get_dataset()

In [9]:
ama_diff_dataset.train

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y38,y39,y40,y41,y42,y43,y44,y45,y46,y47
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,64.934710,8.765321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.765321,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
ama_diff_dataset.test

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y38,y39,y40,y41,y42,y43,y44,y45,y46,y47
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.111409,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-4.359275,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.819015,5.745089,0.548194,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-6.031808,-4.250677,0.001218,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
amarillo.save_csv('amarillo')

In [20]:
import zipfile
# zip = zipfile.ZipFile('test.zip', 'w')
# zip.write('amarillo_train.csv', arcname='amarillo_train.csv',compress_type=zipfile.ZIP_DEFLATED)

with zipfile.ZipFile('test.zip', 'w') as myzip:
    myzip.write('amarillo_train.csv', arcname='amarillo_train.csv',compress_type=zipfile.ZIP_DEFLATED)

In [26]:
zip = zipfile.ZipFile('test.zip', 'r')
zip.read('amarillo_train.csv')

BadZipFile: Bad CRC-32 for file 'amarillo_train.csv'